<!DOCTYPE html>
<html>
<head>
    <title>Symbol Form</title>
    <link rel="stylesheet" type="text/css" href="static/style.css">
</head>
<body>
    <h1>Enter Symbol</h1>
    <h3>Possible options: "BTCUSDT", "ETHUSDT", "BNBUSDT", "SUIUSDT", "IDUSDT", "RDNTUSDT", "ADAUSDT", "SOLUSDT","DOTUSDT", "DAIUSDT"</h3>
    <form action="/" method="POST">
        <input type="text" name="symbol" placeholder="Enter symbol">
        <input type="submit" value="Submit">
    </form>
    {% if error_message %}
        <div class="error">{{ error_message }} Try one more time !</div>
    {% endif %}
</body>
</html>
